<div class="row d-flex justify-content-center">
  <div class="col-12">
    <h2 class="text-center">* Triangles</h2>
    <form [formGroup]="triangleForm" (ngSubmit)="calculateTriangle()">
      <mat-form-field class="w-100">
        <mat-label>Nº de altura</mat-label>
        <input matInput type="number" formControlName="altura" />
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <div class="col-12 mt-5" *ngIf="equilateralTriangle">
    <h3 class="mb-4">Triángulo equilátero</h3>
    <p [innerHTML]="equilateralTriangle" style="font-family: monospace"></p>
  </div>
  <div class="col-12 mt-5" *ngIf="inverseEquilateralTriangle">
    <h3 class="mb-4">Triángulo equilátero inverso</h3>
    <p [innerHTML]="inverseEquilateralTriangle" style="font-family: monospace"></p>
  </div>
  <div class="col-12 mt-5" *ngIf="rightTriangle">
    <h3 class="mb-4">Triángulo rectángulo</h3>
    <p [innerHTML]="rightTriangle" style="font-family: monospace"></p>
  </div>
  <div class="col-12 mt-5" *ngIf="invertedRightTriangle">
    <h3 class="mb-4">Triángulo rectángulo invertido</h3>
    <p [innerHTML]="invertedRightTriangle" style="font-family: monospace"></p>
  </div>
</div>
