<div class="row d-flex justify-content-center">
  <div class="col-12">
    <h2 class="text-center">* Square</h2>
    <form [formGroup]="lonxitudeLadoForm" (ngSubmit)="calculateSquare()">
      <mat-form-field class="w-100">
        <mat-label>Nº de lonxitude do lado</mat-label>
        <input matInput type="number" formControlName="lonxitudeLado" />
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <div class="col-12 mt-5" *ngIf="square">
    <h3 class="mb-4">Cadrado recheo</h3>
    <p [innerHTML]="square" style="font-family: monospace"></p>
  </div>
  <div class="col-12 mt-5" *ngIf="emptySquare">
    <h3 class="mb-4">Cadrado baleiro</h3>
    <p [innerHTML]="emptySquare" style="font-family: monospace"></p>
  </div>
</div>
